<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Demo | browsersync-images-middleware</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="h-screen container mx-auto my-8 space-y-8 leading-normal tracking-normal">


  <section>
    <h2 class="font-mono font-semibold">width=300 (keep ratio)</h2>
    <div class="flex items-center space-x-2">
      <img src="{{{ cdn '/images/blue-eyes.jpg' width=300 }}}" alt="blue-eyes">
      <img src="{{{ cdn '/images/bharath-mohan-2CjOnwJCMJM-unsplash.jpg' width=300 }}}" alt="bharath-mohan">
      <img src="{{{ cdn '/images/ragnar-vorel-uXETAUu_cmI-unsplash.jpg' width=300 }}}" alt="ragnar-vorel">
      <img src="{{{ cdn '/images/lauren-kay-A3V4fXudLhU-unsplash.jpg' width=300 }}}" alt="lauren-kay">
    </div>
  </section>

  <section>
    <h2 class="font-mono font-semibold">width=200 & height=200 (smartcrop)</h2>
    <div class="flex items-center space-x-2">
      <img src="{{{ cdn '/images/blue-eyes.jpg' width=200 height=200 }}}" alt="blue-eyes">
      <img src="{{{ cdn '/images/bharath-mohan-2CjOnwJCMJM-unsplash.jpg' width=200 height=200 }}}" alt="bharath-mohan">
      <img src="{{{ cdn '/images/ragnar-vorel-uXETAUu_cmI-unsplash.jpg' width=200 height=200 }}}" alt="ragnar-vorel">
      <img src="{{{ cdn '/images/lauren-kay-A3V4fXudLhU-unsplash.jpg' width=200 height=200 }}}" alt="lauren-kay">
    </div>
  </section>

  <section>
    <h2 class="font-mono font-semibold">PNG & encoded</h2>
    <div class="flex items-center space-x-2">
      <img src="{{{ cdn '/images/sub/démonstration.png' width=200 height=200 }}}" alt="démonstration">
    </div>
  </section>

  <blockquote class="text-gray-400 italic text-right"><p class="p-4">Most photo from <a href="https://unsplash.com/">Unsplash</a></p></blockquote>
</body>
</html>
